* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    font-size: 18px;
    /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
    background-color: rgb(37,70,122) !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    position: fixed;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        align-items: center;
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;

        color: white;
    }

    .logo {
        margin-top: 0;
        color: white;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:0%;
    content: attr(data-count);
    font-size:40%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    color:red;
    text-align:center;
    min-width:2em;
    font-weight:bold;
    background: white;
    border-style:solid;
}
.fa-circle {
    color:#DF0000;
}

.red-cart {
    color: #DF0000; background:white;
}
#lblCartCount {
    font-size: 12px;
    /*background: #ff0000;*/
        color: beige;
    padding: 18px -9px;
    vertical-align: top;
    margin-left: -10px;
    z-index: 1000   ;

}
/*.cart-count{*/
/*    background: red;*/
/*}.cart-count{*/
/*    background: red;*/
/*}*/
